{% extends "base.html" %}
{% block content %}
<link href="{{ url_for('static', filename='main.css') }}" rel="stylesheet">
<main role="main" class="container">
  <div class="container mt-5 text-center">
    <div class="d-flex justify-content-center align-items-center gap-2 mb-4">
      <h1 class="mb-0">PicFlow</h1>
      <img src="{{ url_for('static', filename='PictureFlow.ico') }}" alt="Logo" class="logo-icon">
    </div>
    <h2 class="sub-text mb-4">сайт для хостинга и обмена картинками</h2>

<div class="masonry-grid">
  {% for media in media_entries %}
  <div class="masonry-item">
    <a href="{{ url_for('get_post', url=media.url) }}">
      <img src="{{ url_for('download_media', url=media.url) }}" alt="{{ media.name }}">
    </a>
  </div>
  {% endfor %}
    </div>
  </div>
</main>
{% endblock %}
