{% extends "base.html" %}
{% block content %}
<link href="{{ url_for('static', filename='post.css') }}" rel="stylesheet">
<div class="post-container d-flex justify-content-center align-items-start mt-5">
    <div class="image-section">
        <img src="{{ url_for('download_media', url=url) }}" alt="{{ media.name }}" class="img-fluid">
    </div>
    <div class="info-section p-4">
        <h1 class="post-title">{{ media.name }}</h1>
        <p class="post-description">{{ media.description }}</p>
        <div class="author">Автор: {{ media.autor }}</div>
    </div>
</div>
{% endblock %}
