{% extends "base.html" %}
{% block content %}
<link href="{{ url_for('static', filename='form.css') }}" rel="stylesheet">
<script>
    document.addEventListener("paste", async (event) => {
        let items = (event.clipboardData || event.originalEvent.clipboardData).items;
        for (let item of items) {
            if (item.kind === "file") {
                let file = item.getAsFile();
                let formData = new FormData();
                formData.append("file", file);

                let inputFile = document.querySelector('input[type="file"]');
                let dataTransfer = new DataTransfer();
                dataTransfer.items.add(file);
                inputFile.files = dataTransfer.files;
            }
        }
    });
</script>
<div class="register-container">
    <h1 class="text-center">Загрузка изображения</h1>
    <form method="post" enctype="multipart/form-data" class="register-form">
        {{ form.hidden_tag() }}

        <div class="form-group mt-3">
            {{ form.name.label(class="form-label") }}
            {{ form.name(class="form-control") }}
        </div>

        <div class="form-group mt-3">
            {{ form.description.label(class="form-label") }}
            {{ form.description(class="form-control") }}
        </div>

        {% if current_user.is_authenticated %}
        <div class="form-group mt-3">
            {{ form.is_private.label(class="form-label") }}
            {{ form.is_private(class="form-check-input ms-2") }}
        </div>
        {% endif %}

        <div class="form-group mt-3">
            {{ form.file.label(class="form-label") }}
            {{ form.file(class="form-control") }}
        </div>

        {% if message %}
        <div class="alert alert-danger text-center mt-3">
            {{ message }}
        </div>
        {% endif %}


        <div class="text-center">
            {{ form.submit(type="submit", class="btn btn-primary btn-lg mt-5") }}
        </div>
    </form>
</div>
{% endblock %}
