.img-card {
    transition: 0.3s;
    overflow: hidden;
    border: 1px solid #ccc;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.img-card img {
    width: 100%;
    height: auto;
    border-radius: 12px;
}

.img-card:hover {
    transform: scale(1.05);
}
