/* === Общие стили === */

body {
    font-family: "Segoe UI", sans-serif;
}

.text, .form-label, .footer-container, .footer-container a {
    font-family: inherit;
}

/* === Кнопки === */
.btn-primary {
    margin-bottom: -125px;
    background: #0d6efd;
    border: none;
    width: 50%;
    font-size: 1.2rem;
    border-radius: 8px;
    transition: 0.3s;
}

/* === Подписи и текст === */
.sub-text {
    color: #0d6efd;
    font-size: 1.25rem;
}

/* === Логотип === */
.logo-icon {
    width: 40px;
    height: 40px;
}

/* === Футер === */
.footer-container {
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    padding: 50px 0;
}

.footer-container a {
    color: #0d6efd;
    text-decoration: none;
}

.footer-container a:hover {
    color: #0b5ed7;
}
